.sp-thongbao {
  color: red;
  margin-left: 2px;
  display: none;
}

#SapXepGiam {
  display: none;
}

#content {
  width: 100%;
  background: #74ebd5;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ACB6E5, #74ebd5);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.myCardHeader,
.myCardFooter {
  background-color: transparent;
}

.edit-btn,
.delete-btn {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  font-size: 1rem;
  margin: 0 0.15rem;
  transition: all 0.3s linear;
}

.edit-btn {
  color: hsl(125, 71%, 66%);
}

.edit-btn:hover {
  color: hsl(125, 67%, 44%);
}

.delete-btn {
  color: hsl(360, 71%, 66%);
}

.delete-btn:hover {
  color: hsl(360, 67%, 44%);
}

.alert {
  display: grid;
  align-items: center;
  text-align: center;
  font-size: 0.8rem;
}

.alert-danger {
  color: #721c24;
  background: #f8d7da;
}

.alert-success {
  color: #155724;
  background: #d4edda;
}